.banner {
    background: url(/assets/img/banner-image.png) center / cover no-repeat;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
}

.banner__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

.banner__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 10rem;
    color: #FFFFFF;
}

.banner__subtitulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #FFFFFF;
}

.banner__botao {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    background: #2A7AE4;
    text-decoration: none;
}